.nav-container{
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    gap: 20px;
    background-color: rgb(135, 110, 111);
    padding: 15px;
    font-size: x-large;
}
a:hover{
    color: white;
}
p{
    font-size: large;
}
.bio-container{
    display: flex;
}
.nav-section{
    position: relative;
    top: 10px;
    right: 5px;
}
.nav-footer{
    background-color: rgb(135, 110, 111);
    padding: 15px;
    margin-top: 300px;
    text-align: center;
}